#AniYoz1{
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Varela Round', sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    color: #fff;
}
#AniYoz2{
    height: 40px ; 
    padding: 11px 28px;
    border-radius: 20px;
    font-size: 13px;
    line-height: 24px;
    background-color: #fff;
    color: #111;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
#AniYoz22{
    height: 40px ; 
    padding: 11px 28px;
    border-radius: 20px;
    font-size: 13px;
    line-height: 24px;
    background-color: #fff;
    color: #111;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
#AniYoz2:hover{
    box-shadow: 0 8px 8px -4px rgb(17 17 17 / 20%);
}
@media screen and (max-width:990px) {
    #AniYoz1{
        font-size: 24px;
    }
}
@media screen and (max-width:600px) {
    #AniYoz1{
        font-size: 22px;
        text-align: center;
        width: 100%;
    }
    #AniYoz2{
        margin-left: 15%;
    }
}